# Object files
*.obj

# Visual Studio Solution
*.sln

# Linker output
*.ilk

# Executables
*.exe

# Debug files
*.pdb

# RemedyBG files
*.rdbg

# Build directory
build/

CommandLineFPS.cpp
cpp_snake.cpp
4CODER_HIGHLIGHT_TRASH.cpp